<ons-page ng-controller="customsMonitorDetailsController">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="nav.popPage()">
				<ons-icon icon="fa-chevron-left"></ons-icon>
			</ons-toolbar-button>
		</div>
		<div class="center">{{ order.number }}</div>
	</ons-toolbar>



	<ons-list class="propsList">
		<ons-list-item>
			<label class="small">{{biocard.t('added')}}</label>
			{{ order.datetime_added }}
		</ons-list-item>
		<ons-list-item>
			<label class="small">{{biocard.t('received')}}</label>
			{{ order.datetime_received }}
		</ons-list-item>
		<ons-list-item>
			<label class="small">{{biocard.t('registered')}}</label>
			{{ order.datetime_registered }}
		</ons-list-item>
		<ons-list-item>
			<label class="small">{{biocard.t('released')}}</label>
			{{ order.datetime_released }}
		</ons-list-item>

		<ons-list-item>
			<label class="small">{{biocard.t('declarer')}}</label>
			{{ order.declarer }}
		</ons-list-item>
		<ons-list-item>
			<label class="small">{{biocard.t('participant')}}</label>
			{{ order.participant }}
		</ons-list-item>
		<ons-list-item>
			<label class="small">{{biocard.t('Inspector')}}</label>
			{{ orderDetails.inspector }}
		</ons-list-item>
		<ons-list-item>
			<label class="small">{{biocard.t('Grafa 30')}}</label>
			{{ orderDetails.gr30 }}
		</ons-list-item>
		<ons-list-item>

			{{ order.warnmes }}
		</ons-list-item>


		<li class="list__header">{{biocard.t('Products')}}</li>
		<ons-list-item ng-repeat="product in orderDetails.tovar">
			<label class="small">{{biocard.t('brutto')}}: {{product.brutto}} <span style="float: right">{{biocard.t('netto')}}: {{product.netto}}</span></label>
			{{ product.name }}
		</ons-list-item>

	</ons-list>
</ons-page>
