<ons-page ng-device-backbutton="nav.popPage()" ng-controller="customsController">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="menu.toggleMenu()">
				<ons-icon icon="fa-bars"></ons-icon>
			</ons-toolbar-button>
		</div>
		<div class="center">{{biocard.t('Customs')}}</div>
	</ons-toolbar>

	<div style="padding: 10px">
		<input ng-model="searchQuery" type="search" class="search-input" placeholder="{{biocard.t('Search')}}..." >
	</div>

	<ons-list>
		<ons-list-item ng-show="searchMatch(order.awb)" ng-repeat="order in projects" modifier="chevron" class="list-item-container" ng-click="nav.pushPage('pages/customsDetails.html', { animation: 'slide', order: order })">
			<ons-row>
				<ons-col>
					<div class="name">
						{{ order.awb }} <span class="company" style="opacity: 0.5">{{ order.clearance_status }}</span>
					</div>

					<div class="desc">
						{{ order.project }}
					</div>
				</ons-col>
				<ons-col width="40px"></ons-col>
			</ons-row>
		</ons-list-item>

	</ons-list>

</ons-page>