<ons-page ng-device-backbutton="nav.popPage()" ng-controller="customsMonitorController">
	<ons-toolbar>
		<div class="left">
			<ons-back-button>
				<ons-icon icon="fa-chevron-left"></ons-icon>
			</ons-back-button>
		</div>
		<div class="center">{{biocard.t('Online Customs')}}</div>
	</ons-toolbar>

	<div style="padding: 10px">
		<input ng-model="searchQuery" type="search" class="search-input" placeholder="{{biocard.t('Search')}}..." >
	</div>

	<ons-list class="customs-monitor-list">
		<ons-list-item ng-show="searchMatch(order.number)" ng-repeat="order in projects" modifier="chevron" ng-click="nav.pushPage('pages/customsMonitorDetails.html', { animation: 'slide', order: order })">

			<label class="small">
				{{biocard.t('Customcode')}}: {{ order.customcode }} <span style="float:right; background-color:#{{ order.message.color }}">{{ order.message.text }}</span>
			</label>


			<div class="name">
				{{ order.number }}
			</div>


		</ons-list-item>

	</ons-list>

</ons-page>