<style>
	.login-form {
		text-align: center;
		width: 80%;
		margin: 20px auto 0;
	}

	input[type=text], input[type=password] {
		display: block;
		width: 100%;
		margin: 0 auto;
		outline: none;
		padding-top: 24px;
		padding-bottom: 24px;
		color: #ffffff;
	}

	.login-button {
		width: 100%;
		margin: 0 auto;
	}

	.forgot-password {
		display: block;
		margin: 8px auto 0 auto;
		font-size: 14px;
	}

	#login .page__content {
		background: url(img/biocard_bg2x.png) !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: 50% bottom !important;
	}

	.logo {
		background: url(img/logo.svg) 50% no-repeat;
		/*background-size: cover;*/
		width: 80%;
		height: 75px;
		margin: 70px auto 0;
	}
</style>

<ons-page id="login" ng-controller="loginController">
	<!--ons-toolbar>
		<div class="center">BIOCARD</div>
	</ons-toolbar-->

	<div class="logo"></div>

	<div class="login-form">

		<div class="button-bar" style="margin: 0 auto">
			<div class="button-bar__item">
				<input type="radio" name="segment-a" ng-checked="biocard.curLang === 'ru'" ng-click="loginPage.setLang('ru')">
				<button class="button-bar__button">RU</button>
			</div>

			<div class="button-bar__item">
				<input type="radio" name="segment-a" ng-checked="biocard.curLang === 'en'" ng-click="loginPage.setLang('en')">
				<button class="button-bar__button">EN</button>
			</div>
		</div>
		<br>

		<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="text-input--underbar" placeholder="{{biocard.t('Login')}}" value="" ng-model="loginPage.login">
		<input type="password" class="text-input--underbar" placeholder="{{biocard.t('Password')}}" value="" ng-model="loginPage.password">
		<br><br>
		<ons-button modifier="large" ng-disabled="!loginPage.login || !loginPage.password" class="login-button" ng-click="loginPage.userLogin()">{{biocard.t('LogInButton')}}</ons-button>
		<br><br>
		<!--ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button-->
	</div>

</ons-page>