<ons-page id="warehouse" ng-device-backbutton="nav.popPage()" ng-controller="warehouseController">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="menu.toggleMenu()">
				<ons-icon icon="fa-bars"></ons-icon>
			</ons-toolbar-button>
		</div>
		<div class="center">{{biocard.t('Warehouse')}}</div>
	</ons-toolbar>

	<div style="padding: 10px">
		<input ng-model="searchQuery" type="search" class="search-input" placeholder="{{biocard.t('Search')}}..." >
	</div>

	<ons-list>
		<ons-list-item ng-show="searchMatch(order.name)" ng-repeat="order in projects" modifier="chevron" class="list-item-container" ng-click="nav.pushPage('pages/warehouseDetails.html', { animation: 'slide', order: order })">
			<ons-row>
				<ons-col>
					<div class="name">
						{{ order.name }}
					</div>
				</ons-col>
				<ons-col width="40px"></ons-col>
			</ons-row>
		</ons-list-item>

	</ons-list>
</ons-page>